footer {
  margin-top: 0 !important;
  padding-top: 10px;
  p {
    font-family: $open-sans;
    font-weight: $weight-light;
    color: darken($green, 20%);
    padding-top: 3px;
  }
  .social-links-menu {
    a {
      margin-bottom: 1px;
      background-color: $green !important;
      border: 1px solid $green;
      &:hover {
        background-color: white !important;
      }
      &:active {
        border: 1px solid $pink;
      }
    }
  }
}