body.home {
  article.twentyseventeen-panel {
    background-color: $black;
    h5, h4, h3, h2, p, li, label, address, div, figcaption  {
      color: $white !important;
    }
    hr {
      background-color: white;
    }
  }
  .panel-content {
    .wrap {
      padding-top: 4em;
      input[type="submit"] {
        background-color: $green;
        &:active {
          background-color: $pink;
        }
        &:hover {
          background-color: darken($green, 15%);
        }
      }
      @include link-styles;
    }
  }
}