@mixin link-styles {
  a {
    color: $green;
    -moz-text-decoration-color: $green;
    &:hover {
      color: darken($green, 10%);
    }
    &:active {
      color: $pink;
    }
    &:visited {
      color: darken($green, 20%) !important;
    }
  }
}